<div class="text-center Main">

<div class="container mt-3">
  <img
  [src]="'https://image.tmdb.org/t/p/original/' + CurrItem.poster_path"
  alt=""
  style="border-radius: 50%;"
  />
  
  <h1 class="m-4">{{ CurrItem.original_title }}</h1>
  <h4 class="mb-4">{{ CurrItem.overview }}</h4>

<div class="mt-5 mb-3">
              <iframe width="942" height="530" [src]=videourl
              allow='autoplay muted' allowfullscreen></iframe>


</div>

<p class="m-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, repudiandae earum mollitia atque possimus numquam! Dicta reiciendis nam dolor ipsa consequuntur laboriosam vero harum error voluptatum debitis, provident exercitationem ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatum quasi laboriosam, repellendus rem veritatis possimus doloribus minima sed officia consequatur non ipsum a alias?</p>
</div>

