<div class="main" >
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
<div class="image-div mt-3">
              <div class="carousel-item active" >
                <img class="d-block w-100" [src]="'https://image.tmdb.org/t/p/original/' + instant.poster_path" alt="Second slide">
              </div>
</div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" (click)="incre()"></span>
          <span class="sr-only" (click)="incre()">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" >
          <span class="carousel-control-next-icon" aria-hidden="true" (click)="decre()"></span>
          <span class="sr-only" (click)="decre()" >Next</span>
        </a>
      </div>
</div>


